beautifulsoup4==4.4.1
futures==3.0.5
grab==0.6.30
html2text==2016.1.8
lxml==4.6.5
mstranslator==0.2.5
MySQL-python==1.2.5
pycurl==7.43.0
PyMySQL==0.7.2
pytils==0.3
redis==2.10.5
requests==2.9.1
selection==0.0.11
six==1.10.0
user-agent==0.1.1
weblib==0.1.20
