.site__aside-menu a.active {color: #18baea;}

.pagination{
    margin-bottom: 50px;
    text-align: center;
}
.pagination li{
    display: inline-block;
}
.pagination li a,
.pagination li span{
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 6px;
    border: 1px solid transparent;
    border-radius: 50px;
    color: #333;
    line-height: 32px;
    transition: color .3s ease, border-color .3s ease, opacity .3s ease;
    -webkit-transition: color .3s ease, border-color .3s ease, opacity .3s ease;
}
.pagination li a {
    color: #333;
}
.pagination li span,
.pagination li a:hover{
    color: #66d1f1;
    border-color: #66d1f1;
}

.magic_tabs {position: relative;}

.phrases__control button.active:after {opacity: 1;}