.site__aside-menu a.active {color: #18baea; font-weight: normal}

.magic_tabs {position: relative;}
.magic_tabs .tabs__links-archive a.active {color: #ff644d; border-color: #ff644d; font-weight: 500;}

.phrases__control button.active:after {opacity: 1;}

.pagination-wrap>ul>li> span {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 40px;
    height: 38px;
    padding: 13px 5px;
    margin-left: -4px;
    text-align: center;
    color: #333333;
}

.pagination li.disabled span {
    background: transparent;
    cursor: default;
}

.pagination li.active span {
    background: #e6e6e6;
    cursor: default;
}

.historyPhrase{
    height: 30px;
    width: 250px;
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.historyPhrase > table{
    position: absolute;
    width: 100%;
    max-height: 250px;
    overflow: auto;
    display: none;
    background-color: #FFFFFF;
    bottom: 30px;
    border: solid 1px #999999;
}
.historyPhrase > table td{
    padding: 2px;
}
.historyPhrase > table th{
    padding: 2px;
}
.historyPhrase:hover > table{
    display: block;
}
.historyPhrase.disable{
    color: #999999;
}

#from-archive {
    background: url("/assets/img/from-arch.png");
    width: 28px;
    background-size: contain;
    height: 16px;
    background-repeat: no-repeat;
    margin-top: 11px;
}
.site__title{
    font-weight: normal;
}
h1{
    font-weight: normal;
}

.preloader {
	position: fixed;
	width: 80px;
	height: 80px;
	left: 50%;
	top: 40%;
	margin: 0px 0px 0px 90px;
}
