.site__aside-menu a.active {color: #18baea;}

.pagination{
    margin-bottom: 50px;
    text-align: center;
}
.pagination li{
    display: inline-block;
}
.pagination li a,
.pagination li span{
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 6px;
    border: 1px solid transparent;
    border-radius: 50px;
    color: #333;
    line-height: 32px;
    transition: color .3s ease, border-color .3s ease, opacity .3s ease;
    -webkit-transition: color .3s ease, border-color .3s ease, opacity .3s ease;
}
.pagination li a {
    color: #333;
}
.pagination li span,
.pagination li a:hover{
    color: #66d1f1;
    border-color: #66d1f1;
}

.magic_tabs {position: relative;}
.magic_tabs .tabs__links-archive a.active {color: #ff644d; border-color: #ff644d; font-weight: 500;}

.phrases__control button.active:after {opacity: 1;}


.historyPhrase{
    height: 30px;
    width: 250px;
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.historyPhrase > table{
    position: absolute;
    width: 100%;
    max-height: 250px;
    overflow: auto;
    display: none;
    background-color: #FFFFFF;
    bottom: 30px;
    border: solid 1px #999999;
}
.historyPhrase > table td{
    padding: 2px;
}
.historyPhrase > table th{
    padding: 2px;
}
.historyPhrase:hover > table{
    display: block;
}
.historyPhrase.disable{
    color: #999999;
}

