.popup {
  display: block;
  opacity: 0;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 10000;
  padding-top: 40px;
  background: rgba(0,0,0,0.5);
  text-align: center;
}
.popup_opened {
  opacity: 1;
  width: 100%;
  height: 100%;
}
.popup_hide {
  opacity: 0;
  width: 100%;
  height: 100%;
}
.popup__wrap {
  position: relative;
  z-index: 2;
  width: 912px;
  margin: 0 auto;
  padding-bottom: 40px;
}
.popup__content {
  display: none;
  position: relative;
  text-align: left;
  padding: 20px 0;
  margin: 0 auto;
  background: #fff;
  border-radius: 4px;
}
.popup__close {
  position: absolute;
  top: 12px;
  width: 20px;
  height: 20px;
  right: 12px;
  text-indent: -5000px;
  cursor: pointer;
}
.popup__close:after,
.popup__close:before {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  height: 1px;
  background: #9f9f9f;
  transform-origin: center;
  content: '';
}
.popup__close:after{
  -webkit-transform: translateY( 50% ) rotate( 45deg );
  transform: translateY( 50% ) rotate( 45deg );
}
.popup__close:before {
  -webkit-transform: translateY( 50% ) rotate( -45deg );
  transform: translateY( 50% ) rotate( -45deg );
}
.popup__close:hover {
  opacity: 0.8;
}
.popup__close:active {
  background-position: 0 bottom;
}
.popup__scrollbar-measure {
  overflow: scroll;
  position: absolute;
  top: -9999px;
  width: 100px;
  height: 100px;
}
.popup__tariff {
  padding: 33px 44px 34px;
}
.popup__unavailable {
  width: 450px;
  padding: 40px 44px 31px;
}
.popup__translate {
  width: 752px;
  padding: 33px 20px 102px;
}
.popup__content > .order-popup {
  position: relative;
  width: 560px;
  margin: 0 auto;
  padding: 46px 40px 42px;
  border-radius: 10px;
  text-align: left;
  transition: opacity .3s ease;
  -webkit-transition: opacity .3s ease;
  background-color: #3e4f59;
  color: #fff;
}
.popup__xliff6{
  display: none;
  width: 100%;
  padding: 20px 0 0;
  text-align: center;
  background: transparent;
}
.discount__form-2 {
  width: 480px;
  margin: 0 auto;
  text-align: justify;
}
.discount__layout .discount__form-2 fieldset {
  display: inline-block;
  width: 100%;
  margin-bottom: 14px;
  text-align: center;
}
.btn_discount {
  display: block;
  margin: 0 auto;
  padding: 14px 53px 14px 48px;
  color: #465863;
  font-family: 'fira_sansmedium', sans-serif !important;
  background-color: #ffd400;
  transition: background-color .3s ease;
  -webkit-transition: background-color .3s ease;
}
.discount__layout .discount__form-2 label {
  display: block;
  width: 100%;
  margin-bottom: 2px;
  color: #65828f;
  transition: color .3s ease;
  -wbkit-transition: color .3s ease;
  text-align: center;
}
popuo__close.popup__close_2 {
  z-index: 2;
  position: absolute;
  top: 20px;
  right: 20px;
  height: 24px;
  width: 24px;
  border: none;
  background: none;
  color: #c3161c;
  letter-spacing: .5px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
popuo__close.popup__close_2:before {
  top: 0;
  left: 11px;
  width: 2px;
  height: 24px;
}
popuo__close.popup__close_2:before, popuo__close.popup__close_2:after {
  content: '';
  display: block;
  position: absolute;
  background-color: #6f7c83;
  transition: background-color .3s ease-in-out;
  -webkit-transition: background-color .3s ease-in-out;
}
popuo__close.popup__close_2:after {
  top: 11px;
  right: 0;
  width: 24px;
  height: 2px;
}
.proj_delete {
  margin-bottom: 14px;
  font-size: 18px;
  font-family: 'fira_sansregular', sans-serif !important;
  text-align: center;
  font-weight: normal;
}