<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=992">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">

    <title>Title</title>

    <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,300,500,700&subset=cyrillic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/select.css" />
    <link rel="stylesheet" href="css/main.css" />

</head>
<body>
<!-- site -->
<div class="site" id="up">

    <!-- /site__header -->
    <header class="site__header">

        <!-- site__header-layout -->
        <div class="site__header-layout">

            <!-- menu -->
            <div class="menu">

                <!-- menu__icon -->
                <div class="menu__icon">
                    <span></span>
                </div>
                <!-- /menu__icon -->

                <nav class="menu__wrap">
                    <a href="#">Наша платформа</a>
                    <a href="#" class="active">Управление переводом</a>
                    <a href="#">Заказ перевода</a>
                    <a href="#">Интеграция</a>
                    <a href="#">Планы развития</a>
                    <a href="#">Помощь</a>
                </nav>

            </div>
            <!-- /header__menu -->

            <!-- logo -->
            <a href="#" class="logo">
                <img src="img/logo.png" width="90" height="26" alt="GETLOC">
            </a>
            <!-- /logo -->

            <!-- site-list -->
            <div class="site-list">

                <!-- site-list__add -->
                <button class="site-list__add"></button>
                <!-- /site-list__add -->

                <select id="site-list">
                    <option value="deezout.ru">deezout.ru</option>
                    <option value="buro3v.ru">buro3v.ru</option>
                    <option value="megafonmoscow.ru">megafonmoscow.ru</option>
                    <option value="http://all.ru">Все проекты</option>
                </select>
            </div>
            <!-- /site-list -->

            <!-- header__person -->
            <div class="header__person" style="background-image: url('img/iocns-ava.png');">

                <!-- header__person-list -->
                <ul class="header__person-list">
                    <li><a href="#">Персональные данные</a></li>
                    <li><a href="#">Настройка аккаунта</a></li>
                    <li><a href="#">Настройка команды</a></li>
                    <li><a href="#">Выйти</a></li>
                </ul>
                <!-- /header__person-list -->

            </div>
            <!-- /header__person -->

            <!-- language -->
            <div class="language">

                <!-- language__btn -->
                <button class="language__btn">RU</button>
                <!-- /language__btn -->

                <!-- language__list -->
                <ul class="language__list">
                    <li><a href="#">Русский</a></li>
                    <li><a class="active" href="#">English</a></li>
                    <li><a href="#">Deutsch</a></li>
                    <li><a href="#">Español</a></li>
                </ul>
                <!-- /language__list -->

            </div>
            <!-- /language -->

        </div>
        <!-- /site__header-layout -->

    </header>
    <!-- /site__header -->

    <!-- site__content -->
    <div class="site__content site_inner">

        <!-- site__wrap -->
        <div class="site__wrap">

            <!-- site__title title_project -->
            <h1 class="site__title title_project">Создайте проект</h1>
            <!-- site__title title_project -->

            <!-- new-project -->
            <div class="new-project">

                <!-- new-project -->
                <a class="new-project__skip" href="#">Пропустить работу помощника →</a>
                <!-- /new-project -->

                <!-- new-project__pros -->
                <div class="new-project__pros">

                    <!-- new-project__pic -->
                    <div class="new-project__pic" style="background-image: url(img/create-pic.png)"></div>

                    <ul>
                        <li>Автоматическое составление карты сайта</li>
                        <li>Определение количества слов и текста для перевода</li>
                        <li>Переводите сами или используйте машинный перевод</li>
                        <li>Закажите профессиональный перевод</li>
                        <li>Перевод в 1 клик</li>
                        <li>Более 20 поддерживаемых языков</li>
                        <li>и многое другое</li>
                    </ul>

                </div>
                <!-- /new-project__pros -->

                <!-- new-project__form -->
                <div class="new-project__form">

                    <form class="site__form" method="get" action="php/form.php" novalidate>

                        <fieldset>
                            <label for="name-project">Название проекта</label>
                            <input type="text" id="name-project" required/>

                            <!-- new-project__question -->
                            <div class="new-project__question">
                                <span></span>

                                <!-- new-project__question-text -->
                                <div class="new-project__question-text">
                                    В случае если вы имеете файл локализации. Мы применим инструменты перевода только к загруженным файлам локализации. Ознакомьтесь с

                                    <!-- new-project__question-link -->
                                    <a class="new-project__question-link" href="#">поддерживаемыми форматами</a>
                                    <!-- /new-project__question-link -->

                                    файлов локализаций.
                                </div>
                                <!-- /new-project__question-text -->

                            </div>
                            <!-- /new-project__question -->

                        </fieldset>

                        <fieldset>
                            <label for="link-project">Ссылка на проект</label>
                            <input type="text" id="link-project" required/>

                            <!-- new-project__question -->
                            <div class="new-project__question">
                                <span></span>
                                <!-- new-project__question-text -->
                                <div class="new-project__question-text">
                                    В случае если вы имеете файл локализации. Мы применим инструменты перевода только к загруженным файлам локализации. Ознакомьтесь с

                                    <!-- new-project__question-link -->
                                    <a class="new-project__question-link" href="#">поддерживаемыми форматами</a>
                                    <!-- /new-project__question-link -->

                                    файлов локализаций.
                                </div>
                                <!-- /new-project__question-text -->

                            </div>
                            <!-- /new-project__question -->

                        </fieldset>

                        <fieldset class="discount__language">
                            <label>Основной язык проекта</label>

                            <!-- new-project__question -->
                            <div class="new-project__question">
                                <span></span>

                                <!-- new-project__question-text -->
                                <div class="new-project__question-text">
                                    В случае если вы имеете файл локализации. Мы применим инструменты перевода только к загруженным файлам локализации. Ознакомьтесь с

                                    <!-- new-project__question-link -->
                                    <a class="new-project__question-link" href="#">поддерживаемыми форматами</a>
                                    <!-- /new-project__question-link -->

                                    файлов локализаций.
                                </div>
                                <!-- /new-project__question-text -->

                            </div>
                            <!-- /new-project__question -->

                            <!-- options__selects-wrap -->
                            <div class="discount__selects-language " data-language='{
                                    "languages": [
                                        {
                                            "id": 1,
                                            "name": "Английский",
                                            "src": "img/icons-en.png"
                                        },
                                        {
                                            "id": 2,
                                            "name": "Русский",
                                            "src": "img/icons-en.png"
                                        },
                                        {
                                            "id": 3,
                                            "name": "Украинский",
                                            "src": "img/icons-ua.png"
                                        }
                                    ]
                                    }'>

                                <!-- discount__language-wrapper -->
                                <div class="discount__language-wrapper">

                                    <select name="lang_1" id="lang_1">
                                        <option value="0">Выберите язык</option>
                                    </select>

                                </div>
                                <!-- /discount__language-wrapper -->

                            </div>
                            <!-- /discount__selects-language -->

                        </fieldset>

                        <fieldset class="discount__language">
                            <label>Перевести проект на язык</label>

                            <!-- new-project__question -->
                            <div class="new-project__question">
                                <span></span>
                                <!-- new-project__question-text -->
                                <div class="new-project__question-text">
                                    В случае если вы имеете файл локализации. Мы применим инструменты перевода только к загруженным файлам локализации. Ознакомьтесь с

                                    <!-- new-project__question-link -->
                                    <a class="new-project__question-link" href="#">поддерживаемыми форматами</a>
                                    <!-- /new-project__question-link -->

                                    файлов локализаций.
                                </div>
                                <!-- /new-project__question-text -->

                            </div>
                            <!-- /new-project__question -->

                            <!-- options__selects-wrap -->
                            <div class="discount__selects-language discount__selects-language_2" data-language='{
                                    "languages": [
                                        {
                                            "id": 1,
                                            "name": "Английский",
                                            "src": "img/icons-en.png"
                                        },
                                        {
                                            "id": 2,
                                            "name": "Русский",
                                            "src": "img/icons-en.png"
                                        },
                                        {
                                            "id": 3,
                                            "name": "Украинский",
                                            "src": "img/icons-ua.png"
                                        }
                                    ]
                                    }'>

                                <!-- discount__language-wrapper -->
                                <div class="discount__language-wrapper">

                                    <select name="lang_1" id="lang_3">
                                        <option value="0">Выберите язык</option>
                                    </select>

                                </div>
                                <!-- /discount__language-wrapper -->

                                <a href="#" class="discount__languadge-add">Добавить направление перевода</a>

                            </div>
                            <!-- /discount__selects-language -->

                        </fieldset>

                        <!-- new-project__check -->
                        <fieldset class="new-project__check">
                            <label><input type="checkbox" value="1" name="project__check" id="new-project__check-val"><span class="new-project__checked"></span><span class="new-project__check-title">У меня есть файл перевода (локализации) проекта</span></label>
                        </fieldset>
                        <!-- /new-project__check -->

                        <!-- btn btn_project -->
                        <button class="btn btn_2">
                            <span>Создать проект</span>
                        </button>
                        <!-- /btn btn_project -->

                    </form>

                </div>
                <!-- /new-project__form -->

            </div>
            <!-- /new-project -->

        </div>
        <!-- /site__wrap -->

    </div>
    <!-- /site__content -->

    <!-- /site__footer -->
    <footer class="site__footer">
        <!-- /site__footer-layout -->
        <div class="site__footer-layout">

            <!-- footer__logo -->
            <div class="footer__logo">
                <img src="img/logo.png" width="90" height="26" alt="GETLOC">
            </div>
            <!-- /footer__logo -->

            <!-- footer-menu -->
            <div class="footer-menu">
                <dl>
                    <dt>Как это работает?</dt>
                    <dd>
                        <a href="#"><span>Наша платформа</span></a>
                        <a href="#"><span>Управление переводом</span></a>
                        <a href="#"><span>Заказ перевода</span></a>
                        <a href="#"><span>Интеграция</span></a>
                        <a href="#"><span>Планы развити</span></a>
                    </dd>
                </dl>

                <dl>
                    <dt>О нас</dt>
                    <dd>
                        <a href="#"><span>Команда проекта</span></a>
                        <a href="#"><span>Наши клиенты</span></a>
                        <a href="#"><span>Новости</span></a>
                    </dd>
                </dl>

            </div>
            <!-- /footer-menu -->

            <!-- social -->
            <div class="social">
                <a href="#" class="social-vk"></a>
                <a href="#" class="social-fb"></a>
                <a href="#" class="social-ok"></a>
            </div>
            <!-- /social -->

        </div>
        <!-- /site__footer-layout -->

    </footer>
    <!-- /site__footer -->

</div>
<!-- /site -->

<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/jquery.select.js"></script>
<script src="js/jquery.main.js"></script>
</body>
</html>

