<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=992">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">

    <title>Title</title>

    <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,300,500,700&subset=cyrillic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/swiper.min.css" />
    <link rel="stylesheet" href="css/select.css" />
    <link rel="stylesheet" href="css/main.css" />

</head>
<body>
<!-- site -->
<div class="site" id="up">

    <!-- /site__header -->
    <header class="site__header">

        <!-- site__header-layout -->
        <div class="site__header-layout">

            <!-- logo -->
            <h1 class="logo anchor" data-href="#up">
                <img src="img/logo.png" width="90" height="26" alt="GETLOC">
            </h1>
            <!-- /logo -->

            <!-- site__header-inner -->
            <div class="site__header-inner">

                <!-- header__menu -->
                <nav class="header__menu">
                    <a href="#">Возможности</a>
                    <a href="#">Цены</a>
                    <a href="#">О проекте</a>
                </nav>
                <!-- /header__menu -->

                <!-- btn -->
                <a class="btn btn_header btn_header-login popup__open" data-popup="login">Войти</a>
                <!-- /btn -->

                <!-- language -->
                <div class="language">

                    <!-- language__btn -->
                    <button class="language__btn">RU</button>
                    <!-- /language__btn -->

                    <!-- language__list -->
                    <ul class="language__list">
                        <li><a href="#">Русский</a></li>
                        <li><a class="active" href="#">English</a></li>
                        <li><a href="#">Deutsch</a></li>
                        <li><a href="#">Español</a></li>
                    </ul>
                    <!-- /language__list -->

                </div>
                <!-- /language -->

            </div>
            <!-- /site__header-inner -->

        </div>
        <!-- /site__header-layout -->

    </header>
    <!-- /site__header -->

    <!-- site__content -->
    <div class="site__content">

        <!-- promo -->
        <div class="promo">

            <!-- site__wrap -->
            <div class="site__wrap">

                <!-- promo__content -->
                <div class="promo__content">

                    <!-- promo__title -->
                    <h2 class="promo__title">Мультиязычный сайт <span>– это просто!</span></h2>
                    <!-- /promo__title -->

                    <!-- promo__text -->
                    <div class="promo__text">
                        Идеальное решения <br/> для быстрого перевода веб-сайтов <br/> на много языков
                    </div>
                    <!-- /promo__text -->

                    <!-- promo__more -->
                    <a class="promo__more anchor" data-href="#advantages">Узнать подробнее</a>
                    <!-- /promo__more -->

                </div>
                <!-- /promo__content -->

                <!-- gallery -->
                <div class="gallery" data-duration="3000">

                    <!-- gallery__item -->
                    <div class="gallery__item">

                        <!-- gallery__item_2nd -->
                        <img class="gallery__item_2nd" src="pic/gallery__pic-2.png" width="500" height="256">
                        <!-- /gallery__item_2nd -->

                        <!-- gallery__item_1st -->
                        <img class="gallery__item_1st" src="pic/gallery__pic-1.png" width="554" height="399">
                        <!-- /gallery__item_1st -->

                    </div>
                    <!-- /gallery__item -->

                    <!-- gallery__item -->
                    <div class="gallery__item">

                        <!-- gallery__item_3rd -->
                        <img class="gallery__item_3rd" src="pic/gallery__pic-5.png" width="500" height="265">
                        <!-- /gallery__item_3rd -->

                        <!-- gallery__item_2nd -->
                        <img class="gallery__item_2nd" src="pic/gallery__pic-4.png" width="500" height="269">
                        <!-- /gallery__item_2nd -->

                        <!-- gallery__item_1st -->
                        <img class="gallery__item_1st gallery__item_1st_right" src="pic/gallery__pic-3.png" width="468" height="398">
                        <!-- /gallery__item_1st -->

                    </div>
                    <!-- /gallery__item -->

                    <!-- gallery__prev -->
                    <div class="gallery__prev">prev</div>
                    <!-- /gallery__prev -->

                    <!-- gallery__next -->
                    <div class="gallery__next">next</div>
                    <!-- /gallery__next -->

                </div>
                <!-- /gallery -->

            </div>
            <!-- site__wrap -->

        </div>
        <!-- /promo -->

        <!-- enroll -->
        <div class="enroll">

            <!-- site__wrap -->
            <div class="site__wrap">

                <!-- enroll__content -->
                <div class="enroll__content">
                    <p>Сейчас проводится тестирование на <b>189</b> сайтах</p>
                    <a data-href="#discount" class="anchor">Записаться на тестирование</a>
                    <span class="enroll__start">Дата запуска – март 2016 года</span>
                </div>
                <!-- /enroll__content -->

                <!-- enroll__form -->
                <div class="enroll__form">
                    <form method="get" action="php/form.php" novalidate>

                        <!-- enroll__email-box -->
                        <fieldset class="enroll__email-box">
                            <input type="email" id="enroll__email" placeholder="Ваш e-mail" class="enroll__email" required/>
                        </fieldset>
                        <!-- /enroll__email-box -->

                        <!-- btn -->
                        <button class="btn btn_enroll">
                            <span>Сообщить мне о запуске</span>
                        </button>
                        <!-- /btn -->

                    </form>
                </div>
                <!-- /enroll__form -->

                <!-- enroll__thanks -->
                <div class="enroll__thanks">
                    <span class="enroll__thanks-title">Спасибо за заявку!</span>
                    <p>Уверяем вас, вы узнаете о запуске
                        сервиса одним из первых.</p>
                </div>
                <!-- /enroll__thanks -->

            </div>
            <!-- site__wrap -->

        </div>
        <!-- /enroll -->

        <!-- site__wrap -->
        <div class="site__wrap">

            <!-- advantages -->
            <div class="advantages" id="advantages">

                <!-- site__title -->
                <h2 class="site__title"><strong>getLoc</strong> поможет вам переводить сайты легко и быстро!</h2>
                <!-- site__title -->

                <!-- advantages__introduction -->
                <div class="advantages__introduction">
                    Сейчас существует большая потребность в легком и доступном любому пользователю инструменте для создания мультиязычной версии сайт. Этот сервис даст вам возможность с минимальными навыками сделать профессиональный многоязычный сайт.
                </div>
                <!-- /advantages__introduction -->

                <!-- advantages__items -->
                <ul class="advantages__items">
                    <li>

                        <!-- advantages__img -->
                        <div class="advantages__img">
                            <img src="img/advantages-001.jpg" alt="img"/>
                        </div>
                        <!-- /advantages__img -->

                        <!-- advantages__title -->
                        <h3 class="advantages__title">Полная автоматизация <br/> процесса</h3>
                        <!-- /advantages__title -->

                        <p>Процесс построен так, что от вас требуется минимальное вмешательство. Всю работу мы берем на себя.</p>
                    </li>
                    <li>

                        <!-- advantages__img -->
                        <div class="advantages__img">
                            <img src="img/advantages-002.jpg" alt="img"/>
                        </div>
                        <!-- /advantages__img -->

                        <!-- advantages__title -->
                        <h3 class="advantages__title">Простая настройка <br/> перевода</h3>
                        <!-- /advantages__title -->

                        <p>Для того, чтобы настроить перевод не требуется специалист. Всё это займёт у вас не более 10 минут.</p>
                    </li>
                    <li>

                        <!-- advantages__img -->
                        <div class="advantages__img">
                            <img src="img/advantages-003.jpg" alt="img"/>
                        </div>
                        <!-- /advantages__img -->

                        <!-- advantages__title -->
                        <h3 class="advantages__title">Разные виды <br/> перевода</h3>
                        <!-- /advantages__title -->

                        <p>Вам предоставляется выбор между автоматическим переводом и профессиональным переводчиком.</p>
                    </li>
                </ul>
                <!-- /advantages__items -->

                <!-- btn -->
                <a href="#" class="btn btn_1">
                    <span>Все возможности</span>
                </a>
                <!-- /btn -->

                <!-- next-step -->
                <div class="next-step"></div>
                <!-- /next-step -->

            </div>
            <!-- /advantages -->

            <!-- application -->
            <div class="application">

                <!-- site__title -->
                <h2 class="site__title">Где можно применять?</h2>
                <!-- site__title -->

                <!-- application__introduction -->
                <div class="application__introduction">
                    <p>Существует множество отраслей, где есть необходимость применения данного сервиса.
                </div>
                <!-- /application__introduction -->

                <!-- application-list -->
                <ul class="application-list">
                    <li>

                        <!-- application-icon -->
                        <div class="application-icon">
                            <div>
                                <img src="img/application-001.jpg" alt="icon"/>
                            </div>
                        </div>
                        <!-- /application-icon -->

                        <span>Культура</span>
                    </li>
                    <li>

                        <!-- application-icon -->
                        <div class="application-icon">
                            <div>
                                <img src="img/application-002.jpg" alt="icon"/>
                            </div>
                        </div>
                        <!-- /application-icon -->

                        <span>Бизнес</span>
                    </li>
                    <li>

                        <!-- application-icon -->
                        <div class="application-icon">
                            <div>
                                <img src="img/application-003.jpg" alt="icon"/>
                            </div>
                        </div>
                        <!-- /application-icon -->

                        <span>Технологии</span>
                    </li>
                    <li>

                        <!-- application-icon -->
                        <div class="application-icon">
                            <div>
                                <img src="img/application-004.jpg" alt="icon"/>
                            </div>
                        </div>
                        <!-- /application-icon -->

                        <span>Маркетинг</span>
                    </li>
                    <li>

                        <!-- application-icon -->
                        <div class="application-icon">
                            <div>
                                <img src="img/application-005.jpg" alt="icon"/>
                            </div>
                        </div>
                        <!-- /application-icon -->

                        <span>Наука</span>
                    </li>
                </ul>
                <!-- /application-list -->

                <!-- next-step -->
                <div class="next-step"></div>
                <!-- /next-step -->

            </div>
            <!-- /application -->

            <!-- work -->
            <div class="work">

                <!-- site__title -->
                <h2 class="site__title">Как это работает?</h2>
                <!-- site__title -->

                <!-- application__introduction -->
                <div class="work__introduction">
                    <p>Мы максимально упростили процесс перевода сайта для того,чтобы максимально сэкономить ваше время.</p>
                </div>
                <!-- /application__introduction -->

                <!-- work__map -->
                <ul class="work__map">

                    <li>
                        <!-- work__img -->
                        <div class="work__img">
                            <div>
                                <img src="img/work-001.jpg" alt="img"/>
                            </div>
                        </div>
                        <!-- work__img -->

                        <!-- work__title -->
                        <h3 class="work__title">Добавьте код на свой сайт</h3>
                        <!-- work__title -->

                        <!-- work__number -->
                        <span class="work__number">1</span>
                        <!-- work__number -->

                        <!-- work__content -->
                        <div class="work__content">
                            <p>Система автоматически подготовить ваш сайт к переводу.</p>
                        </div>
                        <!-- /work__content -->

                    </li>

                    <li>
                        <!-- work__img -->
                        <div class="work__img">
                            <div>
                                <img src="img/work-002.jpg" alt="img"/>
                            </div>
                        </div>
                        <!-- work__img -->

                        <!-- work__title -->
                        <h3 class="work__title">Начните локализацию</h3>
                        <!-- work__title -->

                        <!-- work__number -->
                        <span class="work__number">2</span>
                        <!-- work__number -->

                        <!-- work__content -->
                        <div class="work__content">
                            <p>Теперь вы можете переводить контент вручную или автоматически</p>
                        </div>
                        <!-- /work__content -->

                    </li>

                    <li>
                        <!-- work__img -->
                        <div class="work__img">
                            <div>
                                <img src="img/work-003.jpg" alt="img"/>
                            </div>
                        </div>
                        <!-- work__img -->

                        <!-- work__title -->
                        <h3 class="work__title">Закажите перевод</h3>
                        <!-- work__title -->

                        <!-- work__number -->
                        <span class="work__number">3</span>
                        <!-- work__number -->

                        <!-- work__content -->
                        <div class="work__content">
                            <p>Вы можете заказать перевод сайта у профессиональных переводчиков нашей компании.</p>
                        </div>
                        <!-- /work__content -->

                    </li>

                </ul>
                <!-- /work__map -->

                <!-- next-step -->
                <div class="next-step"></div>
                <!-- /next-step -->

            </div>
            <!-- /work -->

            <!-- people -->
            <div class="people">

                <!-- site__title -->
                <h2 class="site__title">Люди ждут этот сервис...</h2>
                <!-- site__title -->

                <!-- people__slider -->
                <div class="people__slider swiper-container">

                    <!-- swiper-wrapper -->
                    <div class="swiper-wrapper">

                        <!-- swiper-slide -->
                        <div class="swiper-slide">

                            <!-- people__img -->
                            <div class="people__img" style="background: url('pic/ava-001.jpg')"></div>
                            <!-- /people__img -->

                            <!-- people__info -->
                            <span class="people__info"><strong>Наталья Иванова</strong>  /  28 лет</span>
                            <!-- /people__info -->

                            <!-- people__post -->
                            <span class="people__post">Руководитель проекта «Сбербанк Онлайн»</span>
                            <!-- /people__post -->

                            <!-- people__content -->
                            <div class="people__content">
                                <p>Сервис, классный! У меня повился шанс сделать свой сайт самой, и то что получилось мне нравиться, конечно есть над чем работать и что тестировать, но самое главное он есть и готов мне приводить клиентов, а значит и деньги!</p>
                            </div>
                            <!-- people__content -->

                        </div>
                        <!-- /swiper-slide -->

                        <!-- swiper-slide -->
                        <div class="swiper-slide">

                            <!-- people__img -->
                            <div class="people__img" style="background: url('pic/ava-002.jpg')"></div>
                            <!-- /people__img -->

                            <!-- people__info -->
                            <span class="people__info"><strong>Иван Сергеев</strong>  /  59 лет</span>
                            <!-- /people__info -->

                            <!-- people__post -->
                            <span class="people__post">Директор холдинг «Петрушка»</span>
                            <!-- /people__post -->

                            <!-- people__content -->
                            <div class="people__content">
                                <p>Сервис, классный! У меня повился шанс сделать свой сайт самой, и то что получилось мне нравиться, конечно есть над чем работать и что тестировать, но самое главное он есть и готов мне приводить клиентов, а значит и деньги!</p>
                            </div>
                            <!-- people__content -->

                        </div>
                        <!-- /swiper-slide -->

                        <!-- swiper-slide -->
                        <div class="swiper-slide">

                            <!-- people__img -->
                            <div class="people__img" style="background: url('pic/ava-003.jpg')"></div>
                            <!-- /people__img -->

                            <!-- people__info -->
                            <span class="people__info"><strong>Эмануил Торчовский </strong>  /  38 лет</span>
                            <!-- /people__info -->

                            <!-- people__post -->
                            <span class="people__post">Индивидуальные предприниматель </span>
                            <!-- /people__post -->

                            <!-- people__content -->
                            <div class="people__content">
                                <p>Сервис, классный! У меня повился шанс сделать свой сайт самой, и то что получилось мне нравиться, конечно есть над чем работать и что тестировать, но самое главное он есть и готов мне приводить клиентов, а значит и деньги!</p>
                            </div>
                            <!-- people__content -->

                        </div>
                        <!-- /swiper-slide -->

                    </div>
                    <!-- /swiper-wrapper -->

                    <!-- swiper-button-prev -->
                    <div class="swiper-button-prev button_prev"></div>
                    <!-- /swiper-button-prev -->

                    <!-- swiper-button-next -->
                    <div class="swiper-button-next button_next"></div>
                    <!-- /swiper-button-next -->

                </div>
                <!-- /people__slider -->

            </div>
            <!-- /people -->

        </div>
        <!-- site__wrap -->

        <!-- discount -->
        <div class="discount" id="discount">

            <!-- site__wrap -->
            <div class="site__wrap">

                <!-- discount__layout -->
                <div class="discount__layout">

                    <!-- site__title -->
                    <h2 class="site__title">Получите <span>скидку</span> на локализацию вашего сайта</h2>
                    <!-- /site__title -->

                    <!-- discount__introduction -->
                    <div class="discount__introduction">
                        <p>Заполните форму и когда проект запуститься, у вас будет возможность пользоваться услугами сервиса со скидкой.</p>
                    </div>
                    <!-- /discount__introduction -->

                    <!-- /discount__form -->
                    <div class="discount__form">
                        <form method="get" action="php/form.php" novalidate>

                            <fieldset>
                                <label for="discount__email">Ваша эл. почта *</label>
                                <input type="email" id="discount__email"  placeholder="yourmail@gmai" required/>
                            </fieldset>

                            <fieldset>
                                <label for="discount__name">Имя, фамилия</label>
                                <input type="text" id="discount__name"/>
                            </fieldset>

                            <fieldset>
                                <label for="discount__address">Адрес вашего сайта *</label>
                                <input type="text" id="discount__address" placeholder="http://yoursite.ru" required/>
                            </fieldset>

                            <fieldset>
                                <label for="discount__phone">Номер телефона</label>
                                <input type="tel" id="discount__phone"/>
                            </fieldset>

                            <fieldset class="discount__language">
                                <label>Язык перевода *</label>

                                <!-- options__selects-wrap -->
                                <div class="discount__selects-language" data-language='{
                                        "languages": [
                                            {
                                                "id": 1,
                                                "name": "Английский",
                                                "src": "img/icons-en.png"
                                            },
                                            {
                                                "id": 2,
                                                "name": "Русский",
                                                "src": "img/icons-en.png"
                                            },
                                            {
                                                "id": 3,
                                                "name": "Украинский",
                                                "src": "img/icons-ua.png"
                                            }
                                        ]
                                        }'>

                                    <!-- discount__language-wrapper -->
                                    <div class="discount__language-wrapper">

                                        <select name="lang_1" id="lang_1" required>
                                            <option value="0">Выберите язык</option>
                                        </select>

                                        <a href="#" class="discount__languadge-add">Добавить язык перевода</a>

                                    </div>
                                    <!-- /discount__language-wrapper -->

                                </div>
                                <!-- /discount__selects-language -->

                            </fieldset>

                            <!-- btn -->
                            <button class="btn btn_discount">
                                <span>Получить скидку</span>
                            </button>
                            <!-- /btn -->

                        </form>
                    </div>
                    <!-- discount__form -->

                </div>
                <!-- /discount__layout -->

                <!-- discount__thanks -->
                <div class="discount__thanks">

                    <img src="img/img-thanks.png" alt="img"/>

                    <!-- discount__thanks-title -->
                    <h2 class="discount__thanks-title">Спасибо большое за вашу заявку</h2>
                    <!-- /discount__thanks-title -->

                    <p>Мы добавили ваш сайт на просчёт текста. Мы можете посмотреть сколько там страниц, символов, слов и т.д.</p>
                    <p>Мы также выслали вам письмо ссылкой на статистику по вашему сайту.</p>

                    <!-- btn -->
                    <a href="#" class="btn btn_2">
                        <span>Посмотреть статистику</span>
                    </a>
                    <!-- /btn -->

                </div>
                <!-- /discount__thanks -->

            </div>
            <!-- site__wrap -->

        </div>
        <!-- /discount -->

    </div>
    <!-- /site__content -->

    <!-- /site__footer -->
    <footer class="site__footer">
        <!-- /site__footer-layout -->
        <div class="site__footer-layout">

            <!-- footer__logo -->
            <div class="footer__logo">
                <img src="img/logo.png" alt="GETLOC">
            </div>
            <!-- /footer__logo -->

            <!-- footer-menu -->
            <div class="footer-menu">
                <dl>
                    <dt>Как это работает?</dt>
                    <dd>
                        <a href="#"><span>Наша платформа</span></a>
                        <a href="#"><span>Управление переводом</span></a>
                        <a href="#"><span>Заказ перевода</span></a>
                        <a href="#"><span>Интеграция</span></a>
                        <a href="#"><span>Планы развити</span></a>
                    </dd>
                </dl>

                <dl>
                    <dt>О нас</dt>
                    <dd>
                        <a href="#"><span>Команда проекта</span></a>
                        <a href="#"><span>Наши клиенты</span></a>
                        <a href="#"><span>Новости</span></a>
                    </dd>
                </dl>

            </div>
            <!-- /footer-menu -->

            <!-- social -->
            <div class="social">
                <a href="#" class="social-vk"></a>
                <a href="#" class="social-fb"></a>
                <a href="#" class="social-ok"></a>
            </div>
            <!-- /social -->

        </div>
        <!-- /site__footer-layout -->

    </footer>
    <!-- /site__footer -->

</div>
<!-- /site -->

<!-- popup -->
<div class="popup">

    <!-- popup__wrap -->
    <div class="popup__wrap">

        <!-- popup__content -->
        <div class="popup__content popup__content_check popup__login">

            <!-- popup__close -->
            <button class="popup__close popup__close_small"><span></span></button>
            <!-- /popup__close -->

            <!-- popup__head -->
            <div class="popup__head">

                <!-- logo -->
                <a href="#" class="logo">
                    <img src="img/logo.png" width="90" height="26" alt="GETLOC">
                </a>
                <!-- /logo -->

            </div>
            <!-- /popup__head -->

            <!-- popup__inner -->
            <div class="popup__inner">

                <!-- site__form -->
                <form action="#" class="site__form" novalidate>

                    <!-- site__form-title -->
                    <span class="site__form-title">Вход</span>
                    <!-- /site__form-title -->

                    <fieldset>
                        <label for="email">Ваша эл. почта *</label>
                        <input type="email" id="email" required>
                    </fieldset>

                    <fieldset>
                        <label for="password">Пароль</label>
                        <input type="password" id="password" required>
                    </fieldset>

                    <button type="submit" class="btn btn_enroll">Войти</button>

                    <!-- site__form-forgot -->
                    <a href="#" class="site__form-forgot">Забыли пароль?</a>
                    <!-- /site__form-forgot -->

                </form>
                <!-- /site__form -->

                <!-- popup__social -->
                <div class="popup__social">

                    Вы можете зайти через соцсети

                    <!-- social-2 -->
                    <div class="social-2">

                        <!-- social-2__fb -->
                        <a href="#" class="social-2__fb">facebook</a>
                        <!-- /social-2__fb -->

                        <!-- social-2__tw -->
                        <a href="#" class="social-2__tw">twitter</a>
                        <!-- /social-2__tw -->

                        <!-- social-2__google -->
                        <a href="#" class="social-2__google">google</a>
                        <!-- /social-2__google -->

                    </div>
                    <!-- /social-2 -->

                </div>
                <!-- /popup__social -->

            </div>
            <!-- /popup__inner -->

            <!-- popup__footer -->
            <div class="popup__footer">
                Нет учётной записи?
                <a href="#" class="popup__open" data-popup="registry">Зарегистрироваться</a>
            </div>
            <!-- /popup__footer -->

        </div>
        <!-- popup__content -->

        <!-- popup__content -->
        <div class="popup__content popup__content_check popup__registry">

            <!-- popup__close -->
            <button class="popup__close popup__close_small"><span></span></button>
            <!-- /popup__close -->

            <!-- popup__head -->
            <div class="popup__head">

                <!-- logo -->
                <a href="#" class="logo">
                    <img src="img/logo.png" width="90" height="26" alt="GETLOC">
                </a>
                <!-- /logo -->

            </div>
            <!-- /popup__head -->

            <!-- popup__inner -->
            <div class="popup__inner">

                <!-- site__form -->
                <form action="#" class="site__form" novalidate>

                    <!-- site__form-title -->
                    <span class="site__form-title">Регистрация</span>
                    <!-- /site__form-title -->

                    <fieldset>
                        <label for="name">Ваше имя</label>
                        <input type="text" id="name" required>
                    </fieldset>

                    <fieldset>
                        <label for="email2">Ваша эл. почта *</label>
                        <input type="email" id="email2" required>
                    </fieldset>

                    <fieldset>
                        <label for="password2">Пароль</label>
                        <input type="password" id="password2" required>
                    </fieldset>

                    <button type="submit" class="btn btn_enroll">Попробовать бесплатно</button>

                </form>
                <!-- /site__form -->

                <!-- popup__social -->
                <div class="popup__social">

                    Вы можете зарегистрироваться через соцсети

                    <!-- social-2 -->
                    <div class="social-2">

                        <!-- social-2__fb -->
                        <a href="#" class="social-2__fb">facebook</a>
                        <!-- /social-2__fb -->

                        <!-- social-2__tw -->
                        <a href="#" class="social-2__tw">twitter</a>
                        <!-- /social-2__tw -->

                        <!-- social-2__google -->
                        <a href="#" class="social-2__google">google</a>
                        <!-- /social-2__google -->

                    </div>
                    <!-- /social-2 -->

                </div>
                <!-- /popup__social -->

            </div>
            <!-- /popup__inner -->

            <!-- popup__footer -->
            <div class="popup__footer">
                Уже регистрированы?
                <a href="#" class="popup__open" data-popup="login">Войти</a>
            </div>
            <!-- /popup__footer -->

        </div>
        <!-- popup__content -->

    </div>
    <!-- /popup__wrap -->
</div>
<!-- /popup -->

<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/jquery.select.js"></script>
<script src="js/jquery.main.js"></script>
</body>
</html>
